<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>计算器</title>
  <script src="./vue.js"></script>
  <style>
    body {
      width: 1000px;
      margin: 10px auto;
    }
    .bgc {
      background-color: bisque;
      padding: 15px;
      border-radius: 10px;
    }
    .guildSpe {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }
    .guild {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .guild input {
      margin: 5px;
    }
    .guild input:nth-of-type(1) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .guild input:nth-of-type(2) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .guild input:nth-of-type(3) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 4;
    }
    .guild input:nth-of-type(4) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .guild-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }
    .guild-item input {
      padding: 3px 5px;
    }
    .guild-item.spe {
      justify-content: space-between;
    }
    select {
      width: 100px;
      font-size: 14px;
    }
    .guildScore {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .fw-700 {
      font-weight: 700;
    }
    .pd-5 {
      padding: 5px;
    }
    .mr-5 {
      margin: 5px;
    }
    .fs-12 {
      font-size: 12px;
    }
    .bank-wrapper {
      display: flex;
    }
    .bank {
      display: grid;
      grid-row-gap: 5px;
      grid-template-columns: repeat(15, 1fr);
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="app">
    <h2>选择模式</h2>
    <div class="bgc">
      <select v-model="activeMode">
        <option v-for="item in modeType" :value="item.value">{{ item.name }}</option>
      </select>
    </div>
    <h2>第一步</h2>
    <div v-if="guildNameMap[activeMode].length === 4" class="guild bgc">
      <input v-for="item in guildNameMap[activeMode]" type="text" v-model="item.label" :placeholder="item.label">
    </div>
    <div v-else class="guildSpe bgc">
      <input v-for="item in guildNameMap[activeMode]" type="text" v-model="item.label" :placeholder="item.label">
    </div>
    <h2>第二步</h2>
    <div class="bgc">
      <label for="">剩余轮数</label>
      <select v-model="times" name="">
        <template v-for="item in haveTimes">
          <option v-if="!item.hide" :value="item.value">{{ item.value }} ({{ item.name }})</option>
        </template>
      </select>
    </div>
    <h2>第三步</h2>
    <div class="guildScore bgc">
      <div class="fw-700 pd-5 mr-5">公会</div>
      <div class="fw-700 pd-5 mr-5">{{ times | toLabel(haveTimes, 2) }}</div>
      <div class="fw-700 pd-5 mr-5">{{ times | toLabel(haveTimes, 1) }}</div>
      <template v-for="(item, idx) in guildNameMap[activeMode]">
        <div class="pd-5 mr-5">{{ item.label }}：{{ item.secondScore - item.firstScore }}</div>
        <input v-model.number="item.firstScore" type="text" class="pd-5 mr-5" placeholder="请输入">
        <input v-model.number="item.secondScore" type="text" class="pd-5 mr-5" placeholder="请输入">
      </template>
    </div>
    <h2>第四步</h2>
    <div class="bgc">
      <div class="bank">
        <div></div>
        <div v-for="item in haveTimes" class="fw-700 pd-5 mr-5 fs-12">{{ item.name }}</div>
      </div>
      <div>
        <div v-for="guildItem in guildNameMap[activeMode]" class="bank">
          <div>{{ guildItem.label }}</div>
          <input v-for="item in haveTimes" type="checkbox" :name="item.value" :value="item.value" @change="handleChange($event, guildItem, item.value)" />
        </div>
      </div>
    </div>
    <h2>第五步</h2>
    <div class="bgc" style="margin-bottom: 15px;">
      <button style="background-color: cadetblue; color: #fff;" :disabled="loading" @click="handleCalc">计算</button>
      <h3>总分: {{ totalScore }} 平均分：{{ averageScore }} </h3>
      <div>未占领的空地数量: <input v-model.number="emptyMap[activeMode]" type="text" style="width: 40px"></div>
      <h1 style="font-size: 16px;"><em style="font-size: 22px;color: red;margin-right: 5px;">正数</em>表示当前公会<i style="color: red;">要</i>占领,<em style="font-size: 22px;color: red;margin-right: 5px;">负数</em>表示 当前公会<i style="color: red;">需要被</i>占领</h1>
      <div v-if="!loading">
        <div v-for="val in result" style="margin-bottom: 15px;" v-html="val"></div>
      </div>
      <div v-else>计算中,请稍后....</div>
    </div>
    <div v-for="item in Object.keys(sortMap)" class="bgc" style="margin-bottom: 15px;">
      <div>
        <h3>新增{{ item }}次空地可以平局</h3>
        <h4 style="font-size: 16px;"><em style="font-size: 22px;color: red;margin-right: 5px;">正数</em>表示当前公会<i style="color: red;">要</i>占领,<em style="font-size: 22px;color: red;margin-right: 5px;">负数</em>表示 当前公会<i style="color: red;">需要被</i>占领</h4>
        <div v-for="val in sortMap[item]" style="margin-bottom: 15px;">
          <h5>总分: {{ val.totalScore }} 平均分：{{ val.averageScore }} </h5>
          <div v-html="val.res"></div>
        </div>
      </div>
    </div>
  </div>
  <script>

    // 1. 计算所有系数的最大公约数
    function gcd(a, b) {
      return b === 0 ? a : gcd(b, a % b);
    }
    function extendedGcd(a, b) {
      if (b === 0) return [1, 0, a];
      const [x, y, d] = extendedGcd(b, a % b);
      return [y, x - Math.floor(a / b) * y, d];
    }
    const config = {
      diamond: [
        { label: '龙域', prop: 'guild1', firstScore: 400248, secondScore: 434072 },
        { label: '半城', prop: 'guild2', firstScore: 381128, secondScore: 414184 },
        { label: '完美', prop: 'guild3', firstScore: 378120, secondScore: 414448 },
        { label: '傲世', prop: 'guild4', firstScore: 374280, secondScore: 410856 }
        // { label: '天涯', prop: 'guild2', firstScore: 419936, secondScore: 468160 },
        // { label: '再战', prop: 'guild3', firstScore: 408192, secondScore: 452240 },
        // { label: '锦衣', prop: 'guild4', firstScore: 201252, secondScore: 243332 }
      ],
      king: [
        { label: 'A', prop: 'guild1', firstScore: '', secondScore: '' },
        { label: 'B', prop: 'guild2', firstScore: '', secondScore: '' },
        { label: 'C', prop: 'guild3', firstScore: '', secondScore: '' },
        { label: 'D', prop: 'guild4', firstScore: '', secondScore: '' }
      ],
      gold: [
        { label: '双桨', prop: 'guild1', firstScore: 231904, secondScore: 243688 },
        { label: '随缘', prop: 'guild2', firstScore: 212536, secondScore: 227668 },
        { label: '董哥', prop: 'guild3', firstScore: 187636, secondScore: 205168 },
        { label: '战魂', prop: 'guild4', firstScore: 192568, secondScore: 210136 },
        { label: '长空', prop: 'guild5', firstScore: 181588, secondScore: 203392 },
        { label: '炎盟', prop: 'guild6', firstScore: 179128, secondScore: 198052 }
      ]
    }
    var targetVue = new Vue({
      el: '#app',
      data: {
        loading: false,
        totalScore: '',
        averageScore: '',
        result: [], // 结果
        allResult: [], // 所有结果
        activeMode: 'diamond', // 默认钻石
        bankSelect: null, // 银行选择,
        times: 7, // 次数
        guildNameMap: config,
        emptyMap: { // 默认空地数量
          diamond: 4,
          king: 4,
          gold: 6
        }
      },
      computed: {
        modeType () {
          return [
            { value: 'diamond', name: '钻石', bankScore: 3680, shadi: 208, stone: 272 },
            { value: 'king', name: '王者', bankScore: 5520, shadi: 312, stone: 408 },
            { value: 'gold', name: '黄金', bankScore: 2760, shadi: 156, stone: 204 }
          ]
        },
        modeTypeMap () {
          return this.modeType.reduce((acc, cur) => {
            acc[cur.value] = cur
            return acc
          }, {})
        },
        sortMap () {
          const sortMap = {}
          for (let i = 0; i < this.allResult.length; i++) {
            const item = this.allResult[i]
            if (!sortMap[item.i]) {
              sortMap[item.i] = []
            }
            sortMap[item.i].push(item)
          }
          return sortMap
        },
        haveTimes () {
          return [
            { value: 14, name: '星期一R1', hide: true },
            { value: 13, name: '星期一R2', hide: true },
            { value: 12, name: '星期二R1' },
            { value: 11, name: '星期二R2' },
            { value: 10, name: '星期三R1' },
            { value: 9, name: '星期三R2' },
            { value: 8, name: '星期四R1' },
            { value: 7, name: '星期四R2' },
            { value: 6, name: '星期五R1' },
            { value: 5, name: '星期五R2' },
            { value: 4, name: '星期六R1' },
            { value: 3, name: '星期六R2' },
            { value: 2, name: '星期日R1' },
            { value: 1, name: '星期日R2' }
          ]
        }
      },
      filters: {
        toLabel (value, arr, num) {
          const target = arr.find(val => +val.value === +value + num)
          return `${target.value}(${target.name})`
        }
      },
      created () {
        this.bankSelect = config[this.activeMode].reduce((acc, cur) => {
          acc[cur.prop] = []
          return acc
        }, {})
      },
      watch: {
        activeMode (val) {
          this.allResult = [] // 清空
          this.bankSelect = config[val].reduce((acc, cur) => {
            acc[cur.prop] = []
            return acc
          }, {})
        }
      },
      methods: {
        computedScore (value, bankSelect, times, averageScore) {
           const targetScore = value.secondScore - value.firstScore // 分差
           const targetArr = bankSelect[value.prop].map(val => val.value)
           const isHad = targetArr.includes(times + 1) // 当前公会是否占领
           const haveTimes = new Array(times).fill(0).filter((_, idx) => targetArr.includes(idx + 1)).length
           return averageScore - value.secondScore - (targetScore - (isHad ? this.modeTypeMap[this.activeMode].bankScore : 0)) * times - this.modeTypeMap[this.activeMode].bankScore * haveTimes
        },
        handleChange (evt, item, value) {
          Object.entries(this.bankSelect).forEach(([key, val]) => { // 判断下当前的value值是否存在于bankSelect中，如果存在就删除
            const target = val.find(v => v.value === value)
            if (item.prop !== key && target) {
              target.evt.target.checked = false
              this.bankSelect[key] = this.bankSelect[key].filter(v => v.value !== value)
            }
          })
          const index = this.bankSelect[item.prop].findIndex(val => val.value === value)
          if (index > -1) {
            this.bankSelect[item.prop][index].evt.target.checked = false
            this.bankSelect[item.prop].splice(index, 1)
          } else {
            evt.target.checked = true
            this.bankSelect[item.prop].push({ value, evt})
          }
        },
        calcScore (guildNameMap, bankScore, times) {
          let count = 0 // 次数
          const totalScore = Object.entries(guildNameMap).reduce((acc, cur) => {
            const [key, val] = cur
            // 第一场分数 第二场分数 当前银行是否占领，只有0和1 银行剩余占领的次数
            const [firstArr, secondArr, hadBankTimes, haveBankTimes] = val
            acc += secondArr + (secondArr - firstArr - bankScore * hadBankTimes) *times + bankScore * haveBankTimes
            count++ // 一共多少个工会参与
            return acc
          }, 0)
          this.totalScore = totalScore
          return {
            totalScore: totalScore,
            count,
            averageScore: (totalScore / count)
          }
        },
        handleCalc () {
          this.allResult = [] // 清空
          const targetGuild = this.guildNameMap[this.activeMode] // 当前模式下的工会
          const guildNameMap = targetGuild.reduce((acc, cur) => {
            const temSelectedBankArr = this.bankSelect[cur.prop].map(val => val.value) // 银行占领分布
            acc[cur.prop] = [cur.firstScore, cur.secondScore, temSelectedBankArr.includes(this.times + 1) ? 1 : 0, new Array(this.times).fill(0).filter((_, idx) => temSelectedBankArr.includes(idx + 1)).length]
            return acc
          }, {})
          const parmas = [
            guildNameMap,
            this.modeTypeMap[this.activeMode].bankScore,
            this.times
          ]
          const { totalScore, count, averageScore} = this.calcScore(...parmas)
          this.averageScore = averageScore
          this.getResult(count)
        },
        getResult (count = 4) {
          this.loading = true
          console.time('getResult')
          try {
            this.result = this.guildNameMap[this.activeMode].reduce((acc, guildItem, curIndex) => {
              const { shadi, stone } = this.modeTypeMap[this.activeMode]
              const averageScore = this.computedScore(guildItem, this.bankSelect, this.times, this.averageScore)
              const finaItemRes = this.solveLinearDiophantine(Math.abs(averageScore), shadi, stone)

              for (let i = 1; i <= this.emptyMap[this.activeMode] * this.times; i++) {
                const addScore = this.computedEmptyScore(guildItem, this.bankSelect, this.times, this.averageScore+(shadi / count)*i, i, shadi, curIndex === 0)
                const res = this.solveLinearDiophantine(Math.abs(addScore), shadi, stone)
                console.log(res, '结果')
                if (res.length === 1 && res[0] === '无解') {
                } else {
                  this.allResult.push({
                    label: guildItem.label,
                    totalScore: this.totalScore+shadi*i,
                    averageScore: (this.totalScore+shadi*i) / count,
                    i,
                    emptyCount: '新增'+ i +'次沙地可以平局',
                    res: `
                        ${guildItem.label}: ${addScore} ${curIndex === 0 ? '<div style="color: red;font-weight: 700;">' + guildItem.label + '需要占领'+ i +'次沙地</div>' : '' }
                        <div>(a=沙地, b=枯木/石头) ${JSON.stringify(res).slice(1, -1).replaceAll('[', '(').replaceAll(']', ')')}</div>
                        `
                  })
                }
              }
              acc.push(`
                        ${guildItem.label}: ${averageScore}
                        <div>(a=沙地, b=枯木/石头) ${JSON.stringify(finaItemRes).slice(1, -1).replaceAll('[', '(').replaceAll(']', ')')}</div>
                        `)
              return acc
            }, [])
          } catch (err) { console.log(err, '报错')} finally {
            console.timeEnd('getResult')
            this.loading = false
          }
        },
        computedEmptyScore (guildItem, bankSelect, times, averageScore, emptyCount, shadi, isAddShadi) {
          averageScore -= guildItem.secondScore // 先减去当前的分数
          const targetArr = bankSelect[guildItem.prop].map(val => val.value) // 银行占领分布
          const isHad = targetArr.includes(times + 1) // 当前公会是否占领
          const haveTimes = new Array(times).fill(0).filter((_, idx) => targetArr.includes(idx + 1)).length
          for (let i = times; i > 0; i--) {
            if (i <= emptyCount && isAddShadi) { // 新空地入场,需要减去空地分数
              averageScore -= (guildItem.secondScore+shadi - guildItem.firstScore - (this.modeTypeMap[this.activeMode].bankScore * (isHad ? 1 : 0)))
            } else {
              averageScore -= (guildItem.secondScore - guildItem.firstScore - (this.modeTypeMap[this.activeMode].bankScore * (isHad ? 1 : 0)))
            }
          }
          averageScore -= haveTimes * this.modeTypeMap[this.activeMode].bankScore
          return averageScore
        },
        solveLinearDiophantine (C, ...coefficients) {
          // 1. 检查是否为二元方程
          if (coefficients.length !== 2) {
              return { error: '仅支持二元方程' };
          }

          const [a, b] = coefficients;
          const d = gcd(a, b);

          // 2. 检查是否有解
          if (C % d !== 0) {
              return ['无解'];
          }

          // 3. 使用扩展欧几里得算法
          const [x, y] = extendedGcd(a, b);
          const k = C / d;
          let x0 = x * k;
          let y0 = y * k;

          // 4. 通解参数
          const m = b / d;
          const n = a / d;

          // 5. 计算t的范围以获得所有非负解（可根据需要调整）
          // 解的形式：x = x0 + m*t, y = y0 - n*t
          const tMin = Math.ceil((-x0) / m);
          const tMax = Math.floor(y0 / n);

          // 6. 生成所有整数解
          const solutions = [];
          for (let t = tMin - 1; t <= tMax + 1; t++) { // 扩大范围以确保覆盖
              const xSol = x0 + m * t;
              const ySol = y0 - n * t;
              solutions.push([xSol, ySol]);
          }
          return solutions;
        }
      }
    })
  </script>
</body>
</html>
